<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REgister</title>
</head>
<body>
    <h1>sign Up</h1>

    <form action="/register" method="POST">
        <div>
            <label for="">Enter username</label>
            <input type="text" name="username" placeholder="username">
        </div>
        <div>
            <label for="">Enter password</label>
            <input type="password" name="password" placeholder="password">
        </div>
        <button>Sign Up</button>
    </form>
</body>
</html>